/*div, nav, section, header, footer{
  border-style: solid;
  border-width: 2px;
  border-color: #999999;
}*/

h1{
  color: #a28787;
  font: normal normal normal 20px/30px sans-serif;
}

h2{
  color: #a28787;
  font: normal normal normal 17px/22px sans-serif;

}

.error_messages, .alert{
  background-color: #e19c9c;
  color: #b43c3c;

  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 30px;
  margin: 20px;
  display: inline-block;

  border: 1px solid #b43c3c;
  border-radius: 20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
}

.notice{
  background-color: #a9c78c;
  color: #5a9a1c;

  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 30px;
  margin: 20px;
  display: inline-block;

  border: 1px solid #5a9a1c;
  border-radius: 20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;
}


header, footer{
  width: 100%;
  height: 100px;
  margin-bottom: 30px;
  background-color: #a28787;
  font: normal normal bold 50px sans-serif;
  text-shadow: -1px -1px #666, 1px 1px #FFF;
  text-align: center;
  vertical-align: middle;
  color: #ddcca3;
  border-bottom: 1px solid white;

  box-shadow: 0 0 8px black;
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
}

footer{
  margin-bottom: 0px;
  border-bottom: none;
  margin-top: 30px;
  border-top: 1px solid white;
}

.middle{
  width:100%;
  text-align: center;
}

.board{
  width: 700px;
  height: 100%;
  padding: 20px;
  vertical-align: top;
  text-align:left;
  display: inline-block;

  border: 1px solid white;
  border-radius: 20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;

  box-shadow: 0 0 8px black;
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;

  color: #666666;
  font: normal normal normal 15px/18px sans-serif;

}

.menu{
  text-align: right;
  display: inline-block;
}

nav, .login, .likes, .search, .navigation, .tags{
  background-color: #a28787;
  display: block;
  text-align: center;
  padding: 10px;
  margin: 30px;

  border: 1px solid white;
  border-radius: 20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;

  box-shadow: 0 0 8px black;
  -moz-box-shadow: 0 0 8px black;
  -webkit-box-shadow: 0 0 8px black;
}

.item{
  padding: 10px;
  display: block;
  text-align: center;
  color: #ddcca3;
  text-decoration: none;
  font: normal normal bold 20px sans-serif;
  text-shadow: -0.5pt -0.5pt #666, 0.5pt 0.5pt #FFF;
}

.item:hover{
  border: 1px solid white;

  border-radius: 20px;
  -moz-border-radius:20px;
  -webkit-border-radius:20px;

  box-shadow: 0 0 3px black;
  -moz-box-shadow: 0 0 3px black;
  -webkit-box-shadow: 0 0 3px black;

  background-image: -moz-linear-gradient(#9d8282, #725f5f);
  background-image: -webkit-gradient(linear, center top, center bottom, from(#9d8282), to(#725f5f));
  filter: progid:DXImageTransform.Microsoft.Gradient(gradientType=0,startColorStr=#9d8282,endColorStr=#725f5f);
  background-image:-o-linear-gradient(top,#9d8282,#725f5f);
}
