<nav>

  <%= link_to "Электроника",      electro_path, :class => "item" %>
  <%= link_to "Программирование", prog_path,    :class => "item" %>
  <%= link_to "*nix",             nix_path,     :class => "item" %>
  <%= link_to "Про жизнь",        other_path,   :class => "item" %>

</nav>
